body{
	background-color: rgb(211,211,211);
}
header{
	background-color: #a32638;
	padding: 10px 16px;
	align-items: center;
	color: #FFFFFF;
	font-family:"verdana";
	width:100%;

}
h1{
	text-align: center;
}
.content{
	background-color: #FFFFFFFF;
	width: 65%;
	margin-top:16px;
	margin-bottom: 16px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 8px;
	padding-right: 8px;
	box-shadow: 0px 0px 4px #000000;
	border-radius: 4px; 
	align-items:center;
	

}
.movie{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;

}
table.movie thead{
	font-size: 30px;
}
table.movie td{
	width: 42%;
	padding: 5px; 
}
.movie{
	border-style:solid;
}
table.movie tr td, table.movie tr th{
	border-style: solid;
}
.centercell{
	border-style: solid;
}
.red{
	background-color: #FF0000;
}
.green{
	background-color: #00FF00;
}
.poster{
	width: 100%;
	display: block;
	align-items: center;
	background-color: #FFFFFF;
}
h3{
	text-align: center;
}

ul.a{ 
	list-style-type: circle;
}

.button{
	position: relative;
  	left: 50%; 
  	margin-left: -100px;
}

.BeAfraid{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:20%;
	height: auto;
}

.quiz{
	float:left;
	margin-left:5px;
	margin-right:5px;
}
.bold{
	font-weight: bold;
}

.buttonQuiz{
	/*This class has to place the button under the picture and to
	  the right of the text. It also needs to look appealing and big enough
	  where the users can read it.*/
	  float: right;
	  position
	  bottom:10%;
	  right:10%;
}

a:visited { 
	text-decoration: none; 
	color:black;
}

li>a:visited{
	color:white;
}
li>a{
	color:white;
}

.navClass > ul {
	background-color: grey;
	font-size: 100%;
	color: white;
}

.navClass > ul > li {
	list-style-type: none;
	display: inline-block;
	padding: 1% 2%;
	position: relative;
}

.navClass > ul > li > ul > li a:visited {
	text-decoration: none; 
	color:black;
}

.navClass > ul > li:hover {
	background-color: black;
	color: white
}

ul.sub_menu{
	position: absolute;
	background-color: silver;
	color: black;
	list-style-type: none;
	width:400px;
	padding-left: 5px;
	padding-top: 5px;
	opacity: 0;
}

ul.sub_menu li{
	padding-left: 25px;
	padding-top: 5px;
	padding-bottom: 5px;

}

.navClass li:hover .sub_menu{
	opacity: 1;
}

ul.sub_menu li:hover{
	background-color: #656565;
	color:white;
}

.headLayout{
	font-size: 200%;
	text-align: center;
}

.genLayout{
	font-size: 170%;
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
}

.genLayout2{
	font-size: 170%;
	text-align: left;
	text-decoration: underline;
	font-weight: bold;
}

.list_form{
	font-size: 100%;
}

li{
	margin-top: 10px;
	margin-bottom: 10px;
}

.subLayout{
	font-size: 150%;
	text-align: center;
	text-decoration: bold;
}

.imgsize{
	width: 33%;
	height: 300px;
}

.picRight{
	float: right;
	width: 50%;
	height: auto;
	margin-right: 2%;
}

.hercsched{
	border-collapse: collapse;
}

.hercsched td, .hercsched th{
	border-style: solid;
	border: 1px solid black;
	padding:0px;
	margin: 0px;
	width:17%;
}

.event{
	border:1px solid red;
}

#listbox{
    color: black;
    background-color: lightgreen;
    border-radius: 2px
}

#listbox2{
    color: black;
    background-color: cyan;
    border-radius: 2px
}

#listbox3{
    color: black;
    background-color: lightpink;
    border-radius: 2px
}

#listbox4{
    color: black;
    background-color: yellow;
    border-radius: 2px
}

#listbox5{
    color: black;
    background-color: orange;
    border-radius: 2px
}

.tablehead{
    background-color: rgb(145, 176, 233)
}

.rowtype1{
    background-color: rgb(255, 255, 255)
}

.rowtype2{
    background-color: rgb(225, 245, 252);
}

.herctable{
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
}
.herctable td{
	width: 18%;
}
 .herctable th{
 	width: 10%;
 }
 .buttoncompare{
 	margin-right: 40%;
 	margin-left: 40%;
 }
 .center{
 	margin-right: 40%;
 	margin-left: 40%;
 }

.blue{
	background-color: blue;
}